
body {
   background-image: linear-gradient(to right, orange 50%, yellow 50%, yellow 100%);
   align-items: center;
   margin-top: 20vh;
   justify-self: center;
}

h1 {
    font-size: 50px;
    letter-spacing: 40px;
}
section {
    align-items: center;
    justify-self: center;
    display: flex;
justify-content: space-between;
gap: 50px;
}

.li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}
div{
    border: 40px;
}
div:first-of-type {
    background-color: grey;
    width: 150px;
height: 100px;
margin-top: 20px;
}
div:last-of-type {
    background-color: green;
    width: 150px;
    height: 100px;
 margin-top: 20px;
}
div:nth-of-type(2){
    background-color: blue;
    width: 150px;
    height: 100px;
 margin-top: 20px;
}
#date {
    font-size: 30px;
}
   @media screen and (min-width: 300px) and (max-width: 600px){
     h1{
        font-size: 18px;
        text-align: center;
           letter-spacing: 20px;
    }
      section {
         gap: 25px;
      }
.li {
   font-size: 25px;
}
    .clock{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .time-box{
        width: 80%;
        padding: 10px;
    }

    span{
        font-size: 20px;
       margin-left: 25px;
    }

    p{
        font-size: 14px;
    }
      div{
    border: 15px;
}
div:first-of-type {
    background-color: grey;
    width: 75px;
height: 50px;
margin-top: 10px;
}
div:last-of-type {
    background-color: green;
    width: 75px;
    height: 50px;
 margin-top: 10px;
}
div:nth-of-type(2){
    background-color: blue;
    width: 75px;
    height: 50px;
 margin-top: 10px;
}

    #date{
        font-size: 18px;
        text-align: center;
    }

}
    font-size: 30px;
}
